<aside class="order-panel">
  <h2>Detalle de Pedido</h2>
  <h3>Mesa {{ tableNumber }}</h3>
          <div class="order-items">

  @for (item of itemsToOrder; track item.id) {

    @if(item.cantidad !== 0){
      <div class="order-item-note">
        <button class="notes-btn">Agregar nota</button>

        <div class="order-item">
          <div class="item-info">
            <h4>{{ item.nombre }}</h4>
              <p>Note: {{nota}}</p>

          </div>
          <div class="item-details">
            <span class="quantity">x{{ item.cantidad }}</span>
            <span class="price">${{ item.subTotal }}</span>
            <button style="background-color: #ea6962; border-radius:5px" >Quitar</button>

          </div>
        </div>
        <!-- <i class="fa-solid fa-xmark" style="color: #e67222;">X</i> -->
      </div>
       <hr>

    }

  }
          </div>

  <div class="order-summary">
    <div class="summary-line">
      <span>Items ({{itemsToOrder.length}})</span>
      <!-- <span>${{totalPrice}}</span> -->
       <div class="summary-total">
      <span>${{totalPrice}}</span>
    </div>
    </div>
    <!-- <div class="summary-line"> -->
    <!--   <span>Tax (5%)</span> -->
    <!--   <span>$3.65</span> -->
    <!-- </div> -->

  </div>
  <div style="display:flex; justify-content: space-between">
    <button class="proceed-btn" (click)="CancelOrder()">Cancelar Pedido</button>
    <button class="proceed-btn" (click)="MakesOrder()">Proceder Pedido</button>
  </div>
</aside>
